<%-include("header")-%>
<body>
  <div id="heading" class="box">
    <h1>
      <%=listTitle%>
    </h1>
  </div>
  <div class="box">
    <% newListItem.forEach(function(data){ %>
    <form method="POST" action="/delete">
      <div class="item">
        <input type="checkbox" name="checkbox" value="<%=data._id%>" onchange="this.form.submit()">
        <p>
          <%=data.name%>
        </p>
      </div>
      <input type="hidden" name="ListName" value="<%=listTitle%>">
    </form>
        <% })%>
 


      <form class="item"action="/" method="post">
        <input type="text" name="Item" id="" placeholder="New Item" autocomplete="off">
        <button type="submit" name="list" value=<%=listTitle%>>+</button>
      </form>
  </div>

</body>
<%-include("footer")-%>